.nav{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    background-color: rgb(87, 87, 87);
    color: white;
    position: sticky;
    top: 0;
  }

.pic{
    height: 300px;
    width: 400px;
}